#searchHint {
	position: absolute;
	background-color: rgb(235, 235, 235);
	width: 150px;
	margin-left: 935px;
	margin-top: -10px;
}

li {
	list-style-type: none;
}

.titlediv {
	margin-top: 130px;
	margin-left: 17%;
}

.titlelbl {
	font-size: 24px;
	font-family: PingFangSC-Regular;
}

.headdiv {
	background-color: #7B736B;
	border-radius: 2px;
	width: 847px;
	height: 43px;
	margin: auto;
	margin-top: 20px;
}

.headtext {
	color: #FBF7F2;
	font-size: 20px;
	line-height: 43px;
	font-family: PingFangSC-Regular;
	margin-left: 10px;
}

.bodydiv {
	height: 309px;
	width: 847px;
	background-color: #F8F7F6;
	border-radius: 2px;
	margin: auto;
	position: relative;
}

.bodydiv .chart_compre {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 40px;
	top: 10px;
}

.bodydiv .text_compre {
	width: 410px;
	height: 232px;
	position: absolute;
	left: 378px;
	bottom: 40px;
}

.bodydiv .chart_tech {
	width: 730px;
	height: 177px;
	position: absolute;
	left: 58px;
	bottom: 24px;
}

.bodydiv .text_tech {
	width: 730px;
	height: 65px;
	position: absolute;
	left: 58px;
	top: 24px;
}

.bodydiv .chart_market {
	width: 437px;
	height: 247px;
	position: absolute;
	left: 32px;
	top: 31px;
}

.bodydiv .text_market {
	width: 200px;
	height: 190px;
	position: absolute;
	left: 540px;
	top: 60px;
}

.bodydiv .chart_business {
	width: 359px;
	height: 247px;
	position: absolute;
	left: 32px;
	bottom: 31px;
}

.bodydiv .table_business {
	width: 359px;
	height: 160px;
	position: absolute;
	left: 424px;
	top: 25px;
}

.bodydiv .text_business {
	width: 340px;
	height: 85px;
	position: absolute;
	left: 440px;
	top: 215px;
}

.bodydiv .chart_flow {
	width: 261px;
	height: 261px;
	position: absolute;
	left: 58px;
	top: 24px;
}

.bodydiv .chart_2_flow {
	width: 214px;
	height: 145px;
	position: absolute;
	left: 355px;
	top: 25px;
}

.bodydiv .table_flow {
	width: 235px;
	height: 145px;
	position: absolute;
	left: 605px;
	top: 15px;
}

.bodydiv .text_flow {
	width: 420px;
	height: 90px;
	position: absolute;
	left: 370px;
	top: 210px;
}

.right_nav {
	width: 65px;
	height: 227px;
	position: fixed;
	right: 20px;
	top: 190px;
	border: solid 1px rgb(235, 235, 235);
	border-radius: 4px;
}