#searchHint {
	position: absolute;
	background-color: rgb(235, 235, 235);
	width: 150px;
	margin-left: 935px;
	margin-top: -10px;
}

td {
	text-align: center;
	width: 110px;
	height: 23px;
}

li {
	list-style-type: none;
}

a {
	cursor: pointer;
}

.combox {
	margin-left: 10px;
	margin-top: 90px;
}

.quotediv {
	height: 50px;
	width: 800px;
	background-color: #fbf7f2;
	border-radius: 2px;
	margin: auto;
	margin-top: 20px;
	height: 50px;
}

.headdiv {
	height: 150px;
	width: 800px;
	background-color: rgb(249, 248, 243);
	border-radius: 2px;
	margin: 20px auto;
	margin-top: 20px;
	position: relative;
}

.headdiv #heartdiv {
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 50px;
	top: 30px;
}

.headdiv #now {
	position: absolute;
	font-size: 33px;
	left: 15px;
	top: 10px;
}

.headdiv #rise_fall {
	position: absolute;
	font-size: 17px;
	left: 165px;
	top: 25px;
}

.headdiv #rise_fall_percent {
	position: absolute;
	font-size: 17px;
	left: 230px;
	top: 25px;
}

.headdiv .statelbl {
	position: absolute;
	font-size: 12px;
	color: gray;
	left: 300px;
	top: 31px;
}

.headdiv .hrstyle {
	width: 800px;
	color: gray;
	position: absolute;
	top: 40px;
}

.headdiv .fontlbl {
	position: absolute;
	font-size: 12px;
	color: gray;
	left: 15px;
	top: 80px;
}

.headdiv .fontcontent {
	position: absolute;
	font-size: 18px;
	left: 15px;
	top: 100px;
}

.headtext {
	color: #69625c;
	font-size: 20px;
	line-height: 32px;
	font-family: PingFangSC-Regular;
	margin-left: 5px;
}

.kline_div {
	width: 800px;
	height: 910px;
	margin: auto;
	margin-top: 20px;
}

.table_div {
	margin: auto;
	margin-top: 20px;
}

.pagelbl {
	margin-left: 35%;
	margin-top: 15px;
}

/*select*/
.selectBox {
	cursor: pointer;
	width: 140px;
	font-size: 28px;
	color: #4A433B;
	/*复写Chrome和Firefox里面的边框*/
	border: none;
	/*清除默认样式*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("../webImage/triangle-yellow.png") no-repeat scroll
		right center transparent;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	padding-right: 14px;
	width: 140px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
	display: none;
}