/* switch开关 */
.mui-switch {
	width: 56px;
	height: 31px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #ebeced;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none;
}

.mui-switch:before {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
	top: 1.5px;
	left: 0;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
	border-color: #e9bd8d;
	box-shadow: #e9bd8d 0 0 0 16px inset;
	background-color: #e9bd8d;
}

.mui-switch:checked:before {
	left: 26px;
}

.mui-switch.mui-switch-animbg {
	transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
	box-shadow: #dfdfdf 0 0 0 0 inset;
	background-color: #e9bd8d;
	transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow
		cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
	box-shadow: #8eabf0 0 0 0 16px inset;
	background-color: #8eabf0;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color
		ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
	transition: left 0.3s;
}
