.content {
	box-shadow: 0px 0px 10px #999;
	padding: 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 5px;
	height: 60px;
	width: 250px;
	position: relative;
	margin: 20px auto;
	border: 1px solid #CCC;
	background-color: white;
}

span_d {
	position: absolute;
	left: 25px;
	height: 0px;
	width: 0px;
}

/*上部小三角实现样式开始*/
span_d.out {
	line-height: 0;
	border-width: 10px;
	border-color: transparent transparent #CCC transparent;
	border-style: dashed dashed solid dashed;
	top: -20px;
}

span_d.iner {
	border-width: 10px;
	border-color: #fff transparent #FFF transparent;
	border-style: dashed dashed solid dashed;
	top: -19px;
	line-height: 0;
}

/* html代码：
<div id="content"> <span class="out"></span><span class="iner"></span> <span class="right"></span>
  <p>不管写什么内容，总之就是要实现无图小三角，要是有背景颜色那倒是极好的，没有的话也可以，就是稍微麻烦一点</p>
</div> */
.content .text_low {
	position: absolute;
	width: 70px;
	height: 25px;
	left: 115px;
	top: 21px;
}

.content .text_high {
	position: absolute;
	width: 70px;
	height: 25px;
	left: 195px;
	top: 21px;
}

.combox {
	margin-top: 15px;
	margin-left: 20px;
}

.content .make_btn {
	margin-left: 18px;
	margin-top: 15px;
	width: 110px;
	background-color: #766F67;
	color: white;
}

.content .cancel_btn {
	margin-left: 16px;
	margin-top: 15px;
	width: 110px;
	background-color: rgb(230, 230, 230);
	color: #766F67;
}

li {
	list-style-type: none;
}

.detailname {
	font-size: 14px;
	line-height: 35px;
	font-family: PingFangSC-Regular;
	float: left;
	margin-right: 20px;
}

table td {
	border: 1px dashed rgb(235, 235, 235);
}

#stHint {
	position: absolute;
	background-color: rgb(235, 235, 235);
	width: 140px;
	text-align: center;
	margin-left: 45px;
	margin-top: 4px;
	z-index: 10;
}

.lbl {
	font-size: 28px;
	line-height: 35px;
	font-family: PingFangSC-Regular;
	margin-top: 150px;
	margin-left: 135px;
}

.makest_div {
	width: 85%;
	margin: 30px auto;
	margin-top: 160px;
	padding-top: 25px;
	padding-bottom: 35px;
	background-color: #f9f6f4;
	border-radius: 4px;
	border: none;
	box-shadow: #4a433b 0 0 7px;
}

.div_title {
	color: #4a433b;
	font-size: 24px;
	margin-left: 45px;
}

.st_textfileds {
	width: 140px;
	height: 36px;
	border: none;
	padding-left: 13px;
}

.st_textfileds_readonly {
	width: 140px;
	height: 36px;
	border: none;
	background-color: #EEEFF2;
	padding-left: 13px;
}

.st_textfileds::-webkit-input-placeholder,
.st_textfileds_readonly::-webkit-input-placeholder {
	color: #90949b;
	font-size: 16px;
}

.st_textfileds:hover, .st_textfileds:focus {
	box-shadow: 0 0px 11px #7498ec;
}

.hr_style {
	width: 293px;
	margin-left: 45px;
	margin-top: 12px;
	border: 1px solid #e2e2e2
}

.date_divs {
	margin-left: 45px;
	margin-top: 10px;
	display: inline-block;
	position: relative;
}

.money_left {
	margin-left: 45px;
	margin-top: 15px;
	color: #e9bd8c;
	font-size: 16px;
}

.add_st_btn {
	width: 140px;
	height: 36px;
	border-radius: 4px;
	background-color: #e27e60;
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	margin-left: 45px;
	margin-top: 15px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	display: inline-block;
}

.add_st_btn:hover {
	background-color: #E5A38F;
}

.reset_st_btn {
	width: 140px;
	height: 36px;
	border-radius: 4px;
	border: 1px solid #e27e60;
	background-color: transparent;
	color: #e27e60;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	margin-left: 10px;
	margin-top: 15px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	display: inline-block;
}

.reset_st_btn:hover {
	background-color: #FCDACF;
}

.st_run_div {
	width: 60%;
	height: 380px;
	float: right;
	margin-right: 40px;
	background-color: #fff;
	padding-left: 32px;
	padding-top: 18px
}

.used_money {
	font-size: 20px;
	color: #e9bd8c;
	display: inline-block;
}

.save_btn {
	width: 80px;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	dispaly: inline-block;
	margin-left: 80px;
}

.mod_del_btn {
	cursor: pointer;
}

.mod_del_btn:hover {
	color: #e77e5e;
}

.run_pic {
	width: 95%;
	height: 254px;
	margin-top: 8px;
	background-color: #fbfafa;
}

.benifit_compare {
	font-size: 16px;
	color: #787d85;
	margin-top: 7px;
}

#real_benefit {
	color: #e9bf90;
}

.note_div {
	font-size: 12px;
	color: #cacaca;
}
