.title{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin-top:30px;
	border-left: 4px solid rgb(235,138,49);
	padding-left: 8px;
	background-color:#FBF7F2;
	
}


.business-item{
	cursor:pointer;
	width:100%;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:16px;
	border-top: 1px solid #F0F0F0;
}

.business-extend{
	width:95%;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
	background-color:#F9F9F9;
}

.business-rank,.compare{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.item-left{
	display:inline-block;
	float:left;
	margin-left:10px;
	height:80px;
	width:370px;
	/* background-color:#ed8059; */
}
.item-right{
	float:right;
	margin-right:10px;
	height:85px;
	width:180px;
	background-color:#FBF7F2;
	border-radius:4px;
}

.item-price{
	float:left;
	height:85px;
	width:100px;
	background-color:#F1F1F1
}

#item-name{
	margin-top:15px;
	display:inline-block;
	font-size:36px;
	color:#44382A;
}

#item-num{
	margin-top:15px;
	margin-left:10px;
	display:inline-block;
	font-size:16px;
	color:#8d7862;
}

.item-top{
	margin-top:15px;
}
