<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>ToHomePageServlet</welcome-file>
  </welcome-file-list>
  
  <!-- 完成必要内容的初始化工作 -->
  <servlet>
    <servlet-name>factory</servlet-name>
    <servlet-class>servlet.factory.InitFactoryServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>factory</servlet-name>
    <url-pattern>/servlet/factory/InitFactoryServlet</url-pattern>
  </servlet-mapping>

  <!-- get：跳转到主页，post： -->  
  <servlet>
    <servlet-name>ToHomePageServlet</servlet-name>
    <servlet-class>servlet.main.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToHomePageServlet</servlet-name>
    <url-pattern>/ToHomePageServlet</url-pattern>
  </servlet-mapping>
 
   <!-- get：跳转到大盘，post：更换不同指数的大盘信息 -->   
  <servlet>
    <servlet-name>ToMarketPageServlet</servlet-name>
    <servlet-class>servlet.stockmarket.MarketPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToMarketPageServlet</servlet-name>
    <url-pattern>/ToMarketPageServlet</url-pattern>
  </servlet-mapping>
  
  <!-- get：跳转到个股列表，post： -->  
  <servlet>
    <servlet-name>ToStockPageServlet</servlet-name>
    <servlet-class>servlet.stockcheck.StockPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToStockPageServlet</servlet-name>
    <url-pattern>/ToStockPageServlet</url-pattern>
  </servlet-mapping>

  <!-- get：跳转到个股详细界面，post： -->  
  <servlet>
    <servlet-name>ToStockDetailPageServlet</servlet-name>
    <servlet-class>servlet.stockcheck.StockDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToStockDetailPageServlet</servlet-name>
    <url-pattern>/ToStockDetailPageServlet</url-pattern>
  </servlet-mapping>
  
  <!-- get：跳转到行业列表，post：为涨跌榜前十后十柱状图提供数据 -->    
  <servlet>
    <servlet-name>ToBusinessPageServlet</servlet-name>
    <servlet-class>servlet.business.BusinessPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToBusinessPageServlet</servlet-name>
    <url-pattern>/ToBusinessPageServlet</url-pattern>
  </servlet-mapping>
  
    <!-- get：跳转到行业详情界面，post：为历史数据波动图提供数据 -->    
  <servlet>
    <servlet-name>ToBusinessDetailPageServlet</servlet-name>
    <servlet-class>servlet.business.BusinessDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToBusinessDetailPageServlet</servlet-name>
    <url-pattern>/ToBusinessDetailPageServlet</url-pattern>
  </servlet-mapping>
  
  <!-- get：跳转到策略页面，post： -->  
  <servlet>
    <servlet-name>ToStrategyPageServlet</servlet-name>
    <servlet-class>servlet.strategy.StrategyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToStrategyPageServlet</servlet-name>
    <url-pattern>/ToStrategyPageServlet</url-pattern>
  </servlet-mapping>

  <!-- get：，post：登录 -->    
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>

  <!-- get：，post：注册-->    
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.login.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>

  <!-- get：，post：为大盘k线图提供数据 -->    
  <servlet>
    <servlet-name>GetMarketkLineServlet</servlet-name>
    <servlet-class>servlet.stockmarket.GetMarketkLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMarketkLineServlet</servlet-name>
    <url-pattern>/GetMarketkLine</url-pattern>
  </servlet-mapping>
  
    <!-- get：为个股历史数据折线图提供数据，post：为个股k线图提供数据 -->    
  <servlet>
    <servlet-name>GetStockKLineServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetStockKLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockKLineServlet</servlet-name>
    <url-pattern>/GetStockKLine</url-pattern>
  </servlet-mapping>

  <!-- get：实时更新大盘最新数据，post： -->    
  <servlet>
    <servlet-name>UpdateBenchVOServlet</servlet-name>
    <servlet-class>servlet.stockmarket.UpdateBenchVOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBenchVOServlet</servlet-name>
    <url-pattern>/UpdateBenchVO</url-pattern>
  </servlet-mapping>
 
   <!-- get：为大盘历史数据表格提供数据，post： -->   
  <servlet>
    <servlet-name>GetMarketTableDateServlet</servlet-name>
    <servlet-class>servlet.stockmarket.GetMarketTableDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMarketTableDateServlet</servlet-name>
    <url-pattern>/GetMarketTableDate</url-pattern>
  </servlet-mapping>

  <!-- get：，post：根据输入关键字（key），为搜索框提供数据 -->    
  <servlet>
    <servlet-name>StockSearchServlet</servlet-name>
    <servlet-class>servlet.stockcheck.StockSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockSearchServlet</servlet-name>
    <url-pattern>/StockSearch</url-pattern>
  </servlet-mapping>
   <!-- get：为综合分析柱状图提供数据，post：为评分的仪表盘提供数据 -->    
  <servlet>
    <servlet-name>GetStockDashboardServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetStockDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockDashboardServlet</servlet-name>
    <url-pattern>/GetStockDashboard</url-pattern>
  </servlet-mapping>
   <!-- get：为资金流入流出的柱状图提供数据，post：为资金流入流出的饼状图提供数据 -->    
  <servlet>
    <servlet-name>GetStockInflowPieChartServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetStockInflowPieChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockInflowPieChartServlet</servlet-name>
    <url-pattern>/GetStockInflowPieChart</url-pattern>
  </servlet-mapping>
   <!-- get：，post：为基本项分析雷达图提供数据 -->    
  <servlet>
    <servlet-name>GetStockRadarChartServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetStockRadarChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockRadarChartServlet</servlet-name>
    <url-pattern>/GetStockRadarChart</url-pattern>
  </servlet-mapping>
    <!-- get：，post：为ddx,ddy,ddz提供数据 -->    
  <servlet>
    <servlet-name>GetStcokDD_barChartServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetStcokDD_barChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStcokDD_barChartServlet</servlet-name>
    <url-pattern>/GetStcokDD_barChart</url-pattern>
  </servlet-mapping>
    <!-- get：，post：为大盘涨跌幅对比图提供数据 -->    
  <servlet>
    <servlet-name>GetBenchContrastServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetBenchContrastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBenchContrastServlet</servlet-name>
    <url-pattern>/GetBenchContrast</url-pattern>
  </servlet-mapping>
    <!-- get：为同行业涨跌排行榜柱状图提供数据，post：为行业涨跌幅对比图提供数据 -->    
  <servlet>
    <servlet-name>GetBusinessContrastServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetBusinessContrastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBusinessContrastServlet</servlet-name>
    <url-pattern>/GetBusinessContrast</url-pattern>
  </servlet-mapping>
     <!-- get：，post：为技术分析提供数据 -->    
  <servlet>
    <servlet-name>GetTechnicalAnalyzeChartServlet</servlet-name>
    <servlet-class>servlet.stockcheck.GetTechnicalAnalyzeChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTechnicalAnalyzeChartServlet</servlet-name>
    <url-pattern>/GetTechnicalAnalyzeChart</url-pattern>
  </servlet-mapping>
</web-app>